* {
  font-family: 'Times New Roman', Times, serif;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
h1 {
  color: #ffffff;
  font-size: 144px;
  font-weight: 300;
}
